@model List<MyProposalViewModel>
@{
    ViewData["Title"] = "My Proposals";
}

<h2>My Proposals</h2>

@if (Model != null && Model.Any())
{
    foreach (var p in Model)
    {
        <a asp-controller="Proposal" asp-action="Details" asp-route-id="@p.Id" style="text-decoration: none; color: inherit;">
            <div class="card mb-5 shadow-sm" style="border: 1px solid #ccc;"></div>
                <div class="card-header bg-dark text-white">
                    <h5 class="=mb-0">Proposal: @p.Title</h5>
                </div>

                <div class="card-body">
                    <p><strong>Synopsis:</strong> @p.Synopsis</p>
                    <p><strong>Project Level:</strong> @p.ProjectLevel</p>
                    <p><strong>Estimated Completion Date:</strong> @p.EstimatedCompletionDate</p>
                </div>
        </a>



    }

}
else
{
    <p>You haven't submitted any proposals yet.</p>
}
