@model MyProposalViewModel
@{
    ViewData["Title"] = "Proposal Summary";
}

<h2>@Model.Title</h2>

<div class="summary-section">
    <dl class="row">
        <dt class="col-sm-3">Submitted By</dt>
        <dd class="col-sm-9">@Model.SubmittedByName</dd>

        <dt class="col-sm-3">Status</dt>
        <dd class="col-sm-9">@Model.StatusName</dd>

        <dt class="col-sm-3">Project Level</dt>
        <dd class="col-sm-9">@Model.ProjectLevel</dd>

        <dt class="col-sm-3">Synopsis</dt>
        <dd class="col-sm-9">
            <span id="synopsisPreview">
                @Model.Synopsis.Substring(0, Math.Min(Model.Synopsis.Length, 50))...
                <a href="#" onclick="toggle('synopsis'); return false;">View More</a>
            </span>
            <span id="synopsisFull" style="display:none;">
                @Model.Synopsis
                <a href="#" onclick="toggle('synopsis'); return false;">View Less</a>
            </span>
        </dd>

        <dt class="col-sm-3">Method</dt>
        <dd class="col-sm-9">
            <span id="methodPreview">
                @Model.Method.Substring(0, Math.Min(Model.Method.Length, 50))...
                <a href="#" onclick="toggle('method'); return false;">View More</a>
            </span>
            <span id="methodFull" style="display:none;">
                @Model.Method
                <a href="#" onclick="toggle('method'); return false;">View Less</a>
            </span>
        </dd>

        <dt class="col-sm-3">Outcomes</dt>
        <dd class="col-sm-9">
            <span id="outcomesPreview">
                @Model.Outcomes.Substring(0, Math.Min(Model.Outcomes.Length, 50))...
                <a href="#" onclick="toggle('outcomes'); return false;">View More</a>
            </span>
            <span id="outcomesFull" style="display:none;">
                @Model.Outcomes
                <a href="#" onclick="toggle('outcomes'); return false;">View Less</a>
            </span>
        </dd>

        <dt class="col-sm-3">Resources</dt>
        <dd class="col-sm-9">@Model.Resources</dd>

        <dt class="col-sm-3">Ethical Considerations</dt>
        <dd class="col-sm-9">@Model.EthicalConsiderations</dd>

        <dt class="col-sm-3">Milestones</dt>
        <dd class="col-sm-9">@Model.Milestones</dd>

        <dt class="col-sm-3">Estimated Completion</dt>
        <dd class="col-sm-9">@Model.EstimatedCompletionDate.ToString("yyyy-MM-dd")</dd>
    </dl>
</div>
